In [16]:
import pandas as pd
import numpy as np

In [17]:
df = pd.read_csv('completeSpamAssassin.csv.zip', encoding='utf-8')

In [18]:
df.shape

(6046, 3)

In [19]:
df.head()

   Unnamed: 0                                               Body  Label
0           0  \nSave up to 70% on Life Insurance.\nWhy Spend...      1
1           1  1) Fight The Risk of Cancer!\nhttp://www.adcli...      1
2           2  1) Fight The Risk of Cancer!\nhttp://www.adcli...      1
3           3  ##############################################...      1
4           4  I thought you might like these:\n1) Slim Down ...      1

In [20]:
df.tail()

      Unnamed: 0                                               Body  Label
6041        6041                                              empty      0
6042        6042                    ___           ___           ...      0
6043        6043  IN THIS ISSUE:01. Readers write\n02. Extension...      0
6044        6044                                              empty      0
6045        6045                                              empty      0

In [21]:
df.sample(2)

      Unnamed: 0                                               Body  Label
1527        1527  \nA:link {\n    TEXT-DECORATION: none\n}\nA:ac...      1
702          702  **********************************************...      1

In [22]:
df.columns

Index(['Unnamed: 0', 'Body', 'Label'], dtype='object')

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6046 entries, 0 to 6045
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  6046 non-null   int64
 1   Body        6045 non-null   object
 2   Label       6046 non-null   int64
dtypes: int64(2), object(1)
memory usage: 141.8+ KB

In [24]:
df.isnull().sum()

Unnamed: 0    0
Body          1
Label         0
dtype: int64

In [25]:
df = df.dropna(axis = 0, how = 'any')

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6045 entries, 0 to 6045
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  6045 non-null   int64
 1   Body        6045 non-null   object
 2   Label       6045 non-null   int64
dtypes: int64(2), object(1)
memory usage: 188.9+ KB

In [27]:
df["Label"].value_counts() #data is baised

0    4150
1    1895
Name: Label, dtype: int64

In [28]:
df["Body"] #data is baised

0       \nSave up to 70% on Life Insurance.\nWhy Spend...
1       1) Fight The Risk of Cancer!\nhttp://www.adcli...
2       1) Fight The Risk of Cancer!\nhttp://www.adcli...
3       ##############################################...
4       I thought you might like these:\n1) Slim Down ...
                              ...
6041                                                empty
6042                      ___           ___           ...
6043    IN THIS ISSUE:01. Readers write\n02. Extension...
6044                                                empty
6045                                                empty
Name: Body, Length: 6045, dtype: object

In [29]:
import matplotlib.pyplot as plt

In [ ]:
plt.pie(df['Label'].value_counts(), labels= ['spam','ham'], autopct= "%.2f")

In [ ]:
# no. of characters in the sms

In [ ]:
!pip install nltk

In [ ]:
import nltk

In [ ]:
nltk.download('punkt')

# Data processing:

. lower case
. tokenization (break into words)
. removing punctuation
. removing special characters
. stemmering

In [ ]:
def trans_text(Body):
    Body = Body.lower() # for coverting into lower case
    Body = nltk.word_tokenize(Body) #for tokenizing: converting words into tokens
    
    y = []# for removing sp. characters
    for i in Body:
        if i.isalnum():
            y.append(i)
            
    Body = y[:]# this is cloaning of the text, ootherwise it is going to return empty list
    y.clear()
    
    for i in Body: # stemming part: converting words into root style.
        if i not in stopwords.words('english') and i not in string.punctuation:
            y.append(i)
    
    Body = y[:]
    y.clear()
    for i in Body:
        y.append(ps.stem(i))
        
        
    return" ".join(y)

In [ ]:
import re

In [ ]:
nltk.download('stopwords')

In [ ]:
from nltk.corpus import stopwords
stopwords.words('english')

In [ ]:
import string
string.punctuation

In [ ]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()
ps.stem('eating')

In [ ]:
trans_text('Cellular Phone Accessories All At Below Wholesale Prices!http://202.101.163.34:81/sites/merchant/sales/Hands Free Ear Buds 1.99! \nPhone Holsters 1.98! \nBooster Antennas Only $0.99\nPhone Cases 1.98! \nCar Chargers 1.98! \nFace Plates As Low As 0.99! \nLithium Ion Batteries As Low As 6.94! http://202.101.163.34:81/sites/merchant/sales/Click Below For Accessories On All NOKIA, MOTOROLA LG, NEXTEL, \nSAMSUNG, QUALCOMM, ERICSSON, AUDIOVOX PHONES At Below \nWHOLESALE PRICES!http://202.101.163.34:81/sites/merchant/sales/***If You Need Assistance Please Call Us (732) 751-1457***\n~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~\nTo be removed from future mailings please send your remove \nrequest to: removemenow@btamail.net.cn \nThank You and have a super day :)')

In [ ]:
df['Body'][10]

In [ ]:
df['trans_body'] = df['Body'].apply(trans_text)

In [ ]:
df.head()

In [ ]:
# generating word cloud for spam messages:

In [ ]:
!pip install WordCloud

In [ ]:
from wordcloud import WordCloud

In [ ]:
pip install --upgrade Pillow

In [ ]:
wc = WordCloud (width = 1000, height = 500, min_font_size = 10)

In [ ]:
spam_wc = wc.generate(df[df['Label']== 0]['trans_body'].str.cat(sep=' '))
plt.figure(figsize=(20,8))
plt.imshow(spam_wc)

In [ ]:
# generating word cloud for ham messages:

In [ ]:
wc = WordCloud (width = 1000, height = 500, min_font_size = 10)

In [ ]:
spam_wc = wc.generate(df[df['Label']== 1]['trans_body'].str.cat(sep=' '))
plt.figure(figsize=(20,8))
plt.imshow(spam_wc)

In [ ]:
# to find top 30 words:

In [ ]:
df.head()

In [ ]:
ham_corpus = []
for message in df[df['Label']==1]['trans_body'].tolist():
    for word in message.split():
        ham_corpus.append(word)

In [ ]:
len(ham_corpus)

In [ ]:
from collections import Counter

sns.barplot(pd.DataFrame(Counter(ham_corpus). most_common(30))[0],pd.DataFrame(Counter(ham_corpus). most_common(30))[1])
plt.xticks(rotation = 'vertical')

In [ ]:
spam_corpus = []
for message in df[df['Label']==0]['trans_body'].tolist():
    for word in message.split():
        spam_corpus.append(word)

In [ ]:
len(spam_corpus)

In [ ]:

sns.barplot(pd.DataFrame(Counter(spam_corpus). most_common(30))[0],pd.DataFrame(Counter(spam_corpus). most_common(30))[1])
plt.xticks(rotation = 'vertical')

In [ ]:
df['character_num'] = df['trans_body'].apply(len)

In [ ]:
df.head()

In [ ]:
# no. of words in the sms

In [ ]:
df['words_num'] = df['trans_body'].apply(lambda x:len(nltk.word_tokenize(x)))

In [ ]:
df.head()

In [ ]:
# no. of sentences

In [ ]:
df['sent_num'] = df['trans_body'].apply(lambda x:len(nltk.sent_tokenize(x)))

In [ ]:
df.head()

In [ ]:
df[['character_num','words_num','sent_num']].describe()

In [ ]:
#spam
df[df['Label']== 0][['character_num','words_num','sent_num']].describe()

In [ ]:
# ham
df[df['Label']== 1][['character_num','words_num','sent_num']].describe()

In [ ]:
import seaborn as sns

In [ ]:
sns.catplot(data = df,x = 'Label',y='character_num')

In [ ]:
sns.catplot(data = df,x = 'Label',y='words_num')

In [ ]:
sns.catplot(data = df,x = 'Label',y='sent_num')

In [ ]:
sns.pairplot(data = df, hue='Label')

# model building:

model building is done on naive baise algorithm.

for first step we are vectorizing the data by using bag of words. (coverting th ewords into no.)

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer

cv = CountVectorizer()

In [ ]:
X = cv.fit_transform(df['trans_body']).toarrayay()

In [ ]:
X.shape

In [ ]:
y  = df['Label'].values

In [ ]:
y

In [ ]:
from sklearn.model_selection import train_test_split

from sklearn.metrics import accuracy_score

from sklearn.metrics import confusion_matrix

from sklearn.metrics import plot_confusion_matrix

from sklearn.metrics import precision_score

In [ ]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2, random_state = 2)

In [ ]:
from sklearn.naive_bayes import GaussianNB, MultinomialNB, BernoulliNB

In [ ]:
gnb = GaussianNB()
mnb = MultinomialNB()
bnb = BernoulliNB()

In [ ]:
gnb.fit(X_train,y_train)
y_pred1 = gnb.predict(X_test)
print(accuracy_score(y_test, y_pred1))
print(confusion_matrix(y_test, y_pred1))
print(precision_score(y_test, y_pred1))

In [ ]:
mnb.fit(X_train,y_train)
y_pred2 = mnb.predict(X_test)
print(accuracy_score(y_test, y_pred2))
print(confusion_matrix(y_test, y_pred2))
print(precision_score(y_test, y_pred2))

In [ ]:
bnb.fit(X_train,y_train)
y_pred3 = bnb.predict(X_test)
print(accuracy_score(y_test, y_pred3))
print(confusion_matrix(y_test, y_pred3))
print(precision_score(y_test, y_pred3))